
header{
  background-image: url('../imgs/intro-bg.jpg');
  background-position: bottom;
  background-size: cover;
  color: #fff;
  height: 100vh;
      .container{
            width: 60%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
              nav{
                  a{
                  text-decoration: none;
                   color:$whiteColor;
                   padding: 10px;
                   }
                }
          }
      .table{
        height: calc(100% - 60px);
        display: table;
        width: 100%;
      .table-cell{
        display: table-cell;
        vertical-align: middle;
        text-align: center;

            h1{
              font-size: 80px;
            }
            p{
              width: 50%;
              margin: 0 auto;
            }

      }
      }
}
